body:has(#pokedex) {
    background-color: var(--primary);
    color: #FFF;
}

header.pokedexTheme, main.pokedexTheme {
    display: flex;
    margin: 0 auto;
    max-width: 360px;
    box-sizing: border-box;
}

header.pokedexTheme {
    flex-flow: row wrap;
    align-items: center;
    gap: 8px;
    padding: 12px 16px 0 16px;
}

main.pokedexTheme {
    margin-top: 24px;
    margin-bottom: 4px;
    padding: 0 4px;
}

.pokedexTheme h1 {
    margin-left: 8px;
}

.pokedexTheme .searchBar {
    background-color: #FFF;
    border-radius: 16px;
    min-width: 280px;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    gap: 8px;
    margin-right: 8px;
    box-sizing: border-box;
}

.pokedexTheme .searchBar>input {
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: 0;
    flex-grow: 1;
}

.pokedexTheme .filter {
    border: none;
    border-radius: 50%;
    background-color: #FFF;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokedexTheme .filter:hover {
    cursor: pointer;
}

.pokedexTheme .pokemonList {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    background-color: #FFF;
    border-radius: 8px;
    width: 100%;
    padding: 24px 12px;
    gap: 8px;
    max-height: 400px;
    overflow-y: scroll;
}

.pokedexTheme .pokemonList::-webkit-scrollbar {
    display: none;
}

.pokedexTheme .pokemonCard {
    height: 108px;
    width: 104px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 4px 8px;
    box-sizing: border-box;
}

.pokedexTheme .pokemonCard:hover {
    cursor: pointer;
}

.pokedexTheme .pokemonCard .pokemonId {
    color: var(--light);
    margin-left: auto;
}

.pokedexTheme .pokemonCard .pokemonName {
    color: var(--dark);
    text-transform: capitalize;
    z-index: 1;
}

.pokedexTheme .pokemonCard .pokemonImage {
    height: 72px;
    width: 72px;
    z-index: 1;
}

.pokedexTheme .pokemonCard .pokemonNameBackground {
    height: 44px;
    width: 100%;
    border-radius: 7px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--background);
    z-index: 0;
}

.pokedexTheme .searchBar:has(input[name="search"]:focus) {
    box-shadow: var(--shadow-2dp);
}

.pokedexTheme button.filter:focus {
    box-shadow: var(--shadow-2dp);
}